##############################
## Folders                  ##
##############################
__pychcache__
 
##############################
## Netbeans conf            ##
##############################
*.project
*.pyc